body {
  font-family: 'Arial', sans-serif;

  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

.App{
  width: 100%;
  margin: auto;
}

.App-main img {
 /* transition: transform 0.3s ease; */
  border: 2px solid #000;
}


/*.App-main img:hover{
  transform: scale(1.03); 
}*/

.App-header {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fokep{
  width: 100vw; 
  text-align: center; 
  position: relative; 
  left: 50%; 
  right: 50%; 
  margin-left: -50vw; 

}

.fokep img{
  width: 100%; 
  max-width: none; 
  max-height: 60vh; 
  object-fit: cover;
}

.fokep h2{
  text-align: center;
  margin: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
}

.kiemelt{
  width: 80%;
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
}

.kimltballada{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.termek img{
  transition: transform 0.3s ease;
}

.termek img:hover{
  transform: scale(1.03);
}


.termekek{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.termekek img{
  width: 70%;
  height: 70%;
  transition: transform 0.3s ease;
}

.termekek img:hover{
  transform: scale(1.03);
}


footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  left: 0;
  right: 0;
  margin: 0;
}



